@import"./utils/variables";
@import"./utils/mixins";
@import"./base/typography";
@import"./layout/footer";
@import"./composants/buttons";
@import"./base/base";

/* ---------------------------------------- */
/* == SECTION 2 */
/*---------------------------------------- */
.section2
{
    padding: 35px;
    .sbs2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btn {
        margin:15px 0 10px 0;
    }
}



/* ---------------------------------------- */
/* == SECTION 3*/
/*---------------------------------------- */
.section3{
    @media (min-width:768px) {
        text-align: center;
    }
    .bloc-fonctionnement
    {
        height: 270px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .sb-fonctionnement
        {
            display: flex;
            justify-content:space-between;
            align-items: center;
            @media (max-width:768px) {
                
            }
            .rond-violet{
            z-index: 1;
            background-color: $color-primary;
            color: white;
            text-align: center;
            border-radius: 100%;
            width: 25px;
            height: 25px;
                >p{
                    padding: 5px;
                }
            }
            .btn-fonctionnement{
                display:flex;
                align-items: center;
                width: 320px;
                height: 70px;
                border-radius: 20px;
                background-color: $demi-blanc;
                margin-left: -10px;
                padding-left: 35px;
                @include box-shadow;
                >p{
                    padding-left: 25px;
                }
            }
            .btn-fond-violet{
                background-color: lighten($color-primary, $amount: 33%);
            }
        }
    }
}

/* ---------------------------------------- */
/* == SECTION 4 */
/*---------------------------------------- */
.bloc-restaurant
{
    width: 330px;
    height: 250px;
    border-radius: 20px;
    margin: 15px 0 15px 0;
    @include box-shadow;
    .sb-restaurant>img{
        height: 175px;
        @include border-top-radius
    }
    .sb-restaurant>figcaption{
        display: flex;
        justify-content: space-between;
        margin: 15px;
        >div>h2{
            margin-bottom: 5px;
        }
    }
}


/* ---------------------------------------- */
/* == PAGE RESTO */
/*---------------------------------------- */


.img-resto
{
    height: 260px;
}

.bg-pageresto
{
    @include bg-pageresto;
    .head-pageresto{
        display: flex;
        justify-content: space-between;
        padding-bottom: 35px;
        i{
            padding-right: 25px;
        }
    }
    .h2menu{
        border-bottom: 3px solid $color-tertiary;
        width: 40px;
        padding-bottom: 8px;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 235px;
        margin: 15px 0 35px 0;
        .bloc-plat{
            @include bloc-plat;
            .intitule{
                margin: auto 0 auto 12px;
            }
            .prix{
                margin: 0 20px 18px 0;
            }
        }
    }
    .div-btn-menu{
        text-align: center;
    }
}




