@import"./utils/variables";
@import"./utils/mixins";

/* ----------------------------------------
TYPO
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
/* ---------------------------------------- */

/* ---------------------------------------- */
/* == GÉNÉRAL */
/*---------------------------------------- */
body,section,h1,h2,p,li,span
{
    margin:0;
}

.container
{
    padding:50px 20px 60px 20px;
}

img
{
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1,h2,p,li,span,button
{
    font-family: 'Roboto', sans-serif;
}

h1
{
    font-size: 18px;
}

h2,p,li,span,.icone12,button
{
    font-size: 12px;
}

.t15,.icone15
{
    font-size: 15px;
}

.typo-light
{
    font-weight: 200;
}

.typo-bold5
{
    font-weight: 500;
}

.typo-bold7
{
    font-weight: 700;
}

.icone20
{
    font-size: 20px;
}

.bloc-centre
{
    text-align: center;
}

.c-middlegrey
{
    color: $middle-grey;
}

.c-primarycolor
{
    color: $color-primary;
}

.bg-warmgrey
{
    background-color: $warm-grey;
}

.bg-extrawarmgrey
{
    background-color: $extra-warm-grey;
}

.bg-lightgrey
{
    background-color: $light-grey;
}

/* ---------------------------------------- */
/* == HEADER */
/*---------------------------------------- */
header
{
    box-shadow: 0 0 5px grey;
    position: relative;
    padding: 1rem;
}

.logoheader
{
    display: block;
    margin: auto ;
    width: 170px;
}

/* ---------------------------------------- */
/* == SECTION 1 */
/*---------------------------------------- */
.bloc-ville
{
    padding: 15px;
    color: $extra-warm-grey;
}

/* ---------------------------------------- */
/* == SECTION 2 */
/*---------------------------------------- */
.section2
{
    padding: 35px;
    .sbs2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btn {
        margin:15px 0 10px 0;
    }
}

.btn
{
    width: 220px;
    height: 50px;
    border-radius: 80px;
    border: none;
    background:linear-gradient($color-secondary,$color-primary);
    color: white;
    @include box-shadow;
}

/* ---------------------------------------- */
/* == SECTION 3*/
/*---------------------------------------- */
.bloc-flex
{
    display: flex;
    height: 270px;
    margin-top: 30px;
    justify-content: space-between;
    flex-direction: column;
}

.sb-fonctionnement
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    .rond-violet{
    z-index: 1;
    background-color: $color-primary;
    color: white;
    text-align: center;
    border-radius: 100%;
    width: 25px;
    height: 25px;
        >p{
            padding: 5px;
        }
    }
    .bnt-fonctionnement{
        display:flex;
        align-items: center;
        width: 320px;
        height: 70px;
        border-radius: 20px;
        background-color: $demi-blanc;
        margin-left: -10px;
        padding-left: 35px;
        @include box-shadow;
        >p{
            padding-left: 25px;
        }
    }
    .bnt-fonc-violet{
        background-color: lighten($color-primary, $amount: 33%);
    }
}

/* ---------------------------------------- */
/* == SECTION 4 */
/*---------------------------------------- */
.bloc-restaurant
{
    width: 330px;
    height: 250px;
    border-radius: 20px;
    margin: 15px 0 15px 0;
    @include box-shadow;
    .sb-restaurant>img{
        height: 175px;
        @include border-top-radius
    }
    .sb-restaurant>figcaption{
        display: flex;
        justify-content: space-between;
    }
}