.header-main
{
    box-shadow: 0 0 5px grey;
    position: relative;
    padding: 1rem;
}

.logoheader
{
    display: block;
    margin: auto ;
    width: 170px;
}

.header-pageresto
{
    height: 60px;
    div{
        padding: 1rem;
    }
    .header-pageresto__fleche{
        position: absolute;
        top: 20px;
    }
}