/* ---------------------------------------- */
/* ==            SUMMARY              */
/*---------------------------------------- */
/* L 23_GENERAL */
/* L 104_HEADER */
/* L 158_SECTION1 */
/* L 303_POPULAIRES	*/
/* L 375_HEBERGEMENTS */
/* L 411_ACTIVITES */
/* L 434_FOOTER	*/
/* L 455_MEDIAQUERIES_TABLETTE */
/* L 664_MEDIAQUERIES_DESKTOP */

/* ---------------------------------------- */
/* ==       COLOR CODES           */
/*---------------------------------------- */
/*
Violet/Primary :	#9356DC;
Rose/Secondary : #FF79DA;
Vert/Tertiary : #99E2D0;

FONDS
Extra warm grey : #353535;
Warm grey : #EAEAEA;
Light grey : #F6F6F6;

TYPO
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;

*/

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* == GÉNÉRAL */
/*---------------------------------------- */
body
{
    margin: 0;
}

section
{
    margin: 0;
}

img
{
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1,p,li,span
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1
{
    font-size: 17px;
}

p,li,span
{
    font-size: 12px;
}

.icone15
{
    font-size: 15px;
}

.icone20
{
    font-size: 20px;
}

.icone12
{
    font-size: 12px;
}

.bg-warmgrey
{
    background-color: #EAEAEA;
}

.bg-extrawarmgrey
{
    background-color: #353535;
}

.bg-lightgrey
{
    background-color: #F6F6F6;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* == HEADER */
/*---------------------------------------- */
header
{
    box-shadow: 0 0 5px grey;
    position: relative;
    padding: 1rem;
}
.logoheader
{
    display: block;
    margin: auto ;
    width: 170px;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* == SECTION 1 */
/*---------------------------------------- */
.bloc-ville
{
    text-align: center;
    padding: 15px;
    color: #353535;
}