.btn
{
    @include button;
    &.bnt--w220{
        @include bnt--w220;
    }
    &.btn--w185{
        @include bnt--w185;
    }
}

.section-presentation>.btn 
{
    margin:15px 0 10px 0;
}

.div-btn-menu{
    text-align: center;
}

.btn-confirmation{
    display: none;
    @include btn-confirmation;
    .check-confirmation{
        @include check-confirmation;
    
    }
}

.bloc-plat{
    transition: transform 7000ms ease-in-out;
    &:hover>.btn-confirmation{
        display: block;
        transform: translateX(-100%,0);
    }
}