body,section,h1,h2,p,li,span
{
    margin:0;
}

.container
{
    padding:50px 20px 60px 20px;
}

img
{
    width: 100%;
    height: auto;
    object-fit: cover;
}

ul
{
    padding: 0;
}

.c-middlegrey
{
    color: $middle-grey;
}

.c-primarycolor
{
    color: $color-primary;
}

/* ---------------------------------------- */
/* == BACKGROUND_COLOR */
/*---------------------------------------- */
.bg-warmgrey
{
    background-color: $warm-grey;
}

.bg-extrawarmgrey
{
    background-color: $extra-warm-grey;
}

.bg-lightgrey
{
    background-color: $light-grey;
}

/* ---------------------------------------- */
/* == SECTION 1 */
/*---------------------------------------- */
.bloc-ville
{
    padding: 15px;
    color: $extra-warm-grey;
}

/* ---------------------------------------- */
/* == SECTION 2 */
/*---------------------------------------- */
.section2
{
    padding: 35px;
    .sbs2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btn {
        margin:15px 0 10px 0;
    }
}

/* ---------------------------------------- */
/* == SECTION 3*/
/*---------------------------------------- */
.container-fonctionnement
{
    @include flex-sbw;
    flex-direction: column;
    height: 270px;
    margin-top: 30px;
    .bloc-fonctionnement{
        @include flex-sbw;
        align-items: center;
        .rond-violet{
        z-index: 1;
        background-color: $color-primary;
        color: white;
        text-align: center;
        border-radius: 100%;
        width: 25px;
        height: 25px;
            >p{
                padding: 5px;
            }
        }
        .sb-fonctionnement{
            display:flex;
            align-items: center;
            width: 320px;
            height: 70px;
            background-color: $demi-blanc;
            margin-left: -10px;
            padding-left: 35px;
            @include border-radius-main;
            @include box-shadow;
            >p{
                padding-left: 25px;
            }
        }
        .sb-fond-violet{
            background-color: lighten($color-primary, $amount: 33%);
        }
    }
}

/* ---------------------------------------- */
/* == SECTION 4 */
/*---------------------------------------- */
.bloc-restaurant
{
    @include blocresto-mainpage;
    @include border-radius-main;
    @include box-shadow;
    .sb-restaurant>img{
        height: 175px;
        @include border-top-radius
    }
    .sb-restaurant>figcaption{
        @include flex-sbw;
        margin: 15px;
        >div>h2{
            margin-bottom: 5px;
        }
    }
}

/* ---------------------------------------- */
/* == PAGE RESTO */
/*---------------------------------------- */
.img-resto
{
    height: 260px;
}

.bg-pageresto
{
    @include bg-pageresto;
    .head-pageresto{
        @include flex-sbw;
        padding-bottom: 35px;
        i{
            padding-right: 25px;
        }
    }
    .h2menu{
        border-bottom: 3px solid $color-tertiary;
        width: 40px;
        padding-bottom: 8px;
    }
    .menu{
        @include flex-sbw;
        flex-direction: column;
        height: 235px;
        margin: 15px 0 35px 0;
        .bloc-plat{
            @include bloc-plat;
            .intitule{
                padding: 15px;
            }
            .prix{
                padding: 0 20px 15px 0;
            }
        }
    }
    .div-btn-menu{
        text-align: center;
    }
}
