body,section,h1,h2,p,li,span
{
    margin:0;
}

.container
{
    padding:50px 20px 60px 20px;
}

img
{
    width: 100%;
    height: auto;
    object-fit: cover;
}

ul
{
    padding: 0;
}

.c-middlegrey
{
    color: $middle-grey;
}

.c-primarycolor
{
    color: $color-primary;
}

/* ---------------------------------------- */
/* == BACKGROUND_COLOR */
/*---------------------------------------- */
.bg-warmgrey
{
    background-color: $warm-grey;
}

.bg-extrawarmgrey
{
    background-color: $extra-warm-grey;
}

.bg-lightgrey
{
    background-color: $light-grey;
}

/* ---------------------------------------- */
/* == SECTION 1 */
/*---------------------------------------- */
.bloc-ville
{
    padding: 15px;
    color: $extra-warm-grey;
}

/* ---------------------------------------- */
/* == SECTION 2 */
/*---------------------------------------- */
.section-presentation
{
    padding: 35px;
    .sbs2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* ---------------------------------------- */
/* == SECTION 3*/
/*---------------------------------------- */
.h1main
{
    margin-bottom: 30px;
}

.container-fonctionnement
{
    @include flex-sbw;
    flex-direction: column;
    height: 270px;
    @media (min-width:map-get($map: $breakpoints, $key: desktop)) {
        flex-direction: row;
        justify-content: space-around;
        height: auto;
    }
    .bloc-fonctionnement{
        @include flex-c;
        align-items: center;
        @media (min-width:map-get($map: $breakpoints, $key: desktop)) {
            margin: auto 15px auto 15px;
        }
        .rond-violet{
        z-index: 1;
        background-color: $color-primary;
        color: white;
        text-align: center;
        border-radius: 100%;
        width: 25px;
        height: 25px;
            >p{
                padding: 5px;
            }
        }
        .sb-fonctionnement{
            display:flex;
            align-items: center;
            width: 320px;
            height: 70px;
            background-color: $demi-blanc;
            margin-left: -10px;
            padding-left: 35px;
            @include border-radius-main;
            @include box-shadow;
            @media (min-width:map-get($map: $breakpoints, $key: desktop)) {
                width: 270px;
            }
            >p{
                padding-left: 30px;
            }
        }
        .sb-fond-violet{
            background-color: lighten($color-primary, $amount: 33%);
        }
    }
}

/* ---------------------------------------- */
/* == SECTION 4 */
/*---------------------------------------- */
.container-resto
{
    @include flex-c;
    flex-wrap: wrap;
    @media (min-width:map-get($map: $breakpoints, $key: tablette)) {
        flex-flow: row wrap;
    }
}

.bloc-restaurant
{
    @include blocresto-mainpage;
    @include border-radius-main;
    @include box-shadow;
    .sb-restaurant>img{
        height: 175px;
        @include border-top-radius
    }
    .new{
        @include new;
    }
    .sb-restaurant>figcaption{
        @include flex-sbw;
        margin: 15px;
        >div>h2{
            margin-bottom: 5px;
        }
    }
    @media (min-width:map-get($map: $breakpoints, $key: tablette)) {
        margin: 15px;       
    }
}

/* ---------------------------------------- */
/* == PAGE RESTO */
/*---------------------------------------- */
.img-resto
{
    height: 260px;
    @media (min-width:map-get($map: $breakpoints, $key: tablette)) {
        height: 450px;
    }
}

.pageresto__bg
{
    @include bg-pageresto;
    .pageresto__head{
        @include flex-sbw;
        padding-bottom: 35px;
        align-items: center;
        i{
            padding-right: 25px;
        }
    }
    .h2menu{
        border-bottom: 3px solid $color-tertiary;
        width: 40px;
        padding-bottom: 8px;
        @media (min-width:map-get($map: $breakpoints, $key: tablette)) {
            font-size: 14px;
        }
        @media (min-width:map-get($map: $breakpoints, $key: tablette))and (max-width:map-get($map: $breakpoints, $key: desktop)) {
            margin-left: 20%; 
        }
    }
    .menu{
        @include flex-sbw;
        flex-direction: column;
        align-items: center;
        height: 235px;
        margin: 15px 0 35px 0;
        @media (min-width:map-get($map: $breakpoints, $key: desktop)) {
            flex-direction: row;
            justify-content: center;
            height: auto;
        }
        &__blocplat{
        @include bloc-plat;
        @media (min-width:map-get($map: $breakpoints, $key: desktop)) {
            margin: 15px;
        }
        }      
        &__intitule{
            padding: 15px;
        }
        &__prix{
            padding: 0 20px 15px 0;
        }
    }
}