.header-main {
  box-shadow: 0 0 5px grey;
  position: relative;
  padding: 1rem; }

.logoheader {
  display: block;
  margin: auto;
  width: 170px; }

.header-pageresto {
  height: 60px; }
  .header-pageresto div {
    padding: 1rem; }
  .header-pageresto .header-pageresto__fleche {
    position: absolute;
    top: 20px; }

footer > div {
  padding: 25px; }
  @media (min-width: 768px) {
    footer > div {
      text-align: center; } }
  footer > div .logofooter {
    width: 100px;
    filter: invert(100%); }
  footer > div > ul {
    color: white;
    line-height: 22px; }
    @media (min-width: 1025px) {
      footer > div > ul {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 0 200px 0 200px; } }
    footer > div > ul li > a > i {
      width: 17px; }

h1, h2, p, li, span, button {
  font-family: 'Roboto', sans-serif; }

.h1resto {
  font-family: 'Shrikhand', cursive;
  font-size: 25px; }

h1 {
  font-size: 18px; }

h2, p, li, span, .t12, button {
  font-size: 12px; }

@media (min-width: 768px) {
  .sb-restaurant > figcaption > div > h2 {
    font-size: 14px; } }

.t15 {
  font-size: 15px; }

.t20 {
  font-size: 20px; }

.typo-light {
  font-weight: 200; }

.typo-bold5 {
  font-weight: 500; }

.typo-bold7 {
  font-weight: 700; }

.majuscule {
  text-transform: uppercase; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

.bloc-centre {
  text-align: center; }

@media (min-width: 768px) {
  .h1main {
    text-align: center; } }

body, section, h1, h2, p, li, span {
  margin: 0; }

.container {
  padding: 50px 20px 60px 20px; }

img {
  width: 100%;
  height: auto;
  object-fit: cover; }

ul {
  padding: 0; }

.c-middlegrey {
  color: #7E7E7E; }

.c-primarycolor {
  color: #9356DC; }

/* ---------------------------------------- */
/* == BACKGROUND_COLOR */
/*---------------------------------------- */
.bg-warmgrey {
  background-color: #EAEAEA; }

.bg-extrawarmgrey {
  background-color: #353535; }

.bg-lightgrey {
  background-color: #F6F6F6; }

/* ---------------------------------------- */
/* == SECTION 1 */
/*---------------------------------------- */
.bloc-ville {
  padding: 15px;
  color: #353535; }

/* ---------------------------------------- */
/* == SECTION 2 */
/*---------------------------------------- */
.section-presentation {
  padding: 35px; }
  .section-presentation .sbs2 {
    padding-top: 10px;
    padding-bottom: 10px; }

/* ---------------------------------------- */
/* == SECTION 3*/
/*---------------------------------------- */
.h1main {
  margin-bottom: 30px; }

.container-fonctionnement {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 270px; }
  @media (min-width: 1025px) {
    .container-fonctionnement {
      flex-direction: row;
      justify-content: space-around;
      height: auto; } }
  .container-fonctionnement .bloc-fonctionnement {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 1025px) {
      .container-fonctionnement .bloc-fonctionnement {
        margin: auto 15px auto 15px; } }
    .container-fonctionnement .bloc-fonctionnement .rond-violet {
      z-index: 1;
      background-color: #9356DC;
      color: white;
      text-align: center;
      border-radius: 100%;
      width: 25px;
      height: 25px; }
      .container-fonctionnement .bloc-fonctionnement .rond-violet > p {
        padding: 5px; }
    .container-fonctionnement .bloc-fonctionnement .sb-fonctionnement {
      display: flex;
      align-items: center;
      width: 320px;
      height: 70px;
      background-color: #F6F6F6;
      margin-left: -10px;
      padding-left: 35px;
      border-radius: 20px;
      box-shadow: 1px 3px 10px grey; }
      @media (min-width: 1025px) {
        .container-fonctionnement .bloc-fonctionnement .sb-fonctionnement {
          width: 270px; } }
      .container-fonctionnement .bloc-fonctionnement .sb-fonctionnement > p {
        padding-left: 30px; }
    .container-fonctionnement .bloc-fonctionnement .sb-fond-violet {
      background-color: #ece1f9; }

/* ---------------------------------------- */
/* == SECTION 4 */
/*---------------------------------------- */
.container-resto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .container-resto {
      flex-flow: row wrap; } }

.bloc-restaurant {
  width: 330px;
  height: 250px;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 1px 3px 10px grey; }
  .bloc-restaurant .sb-restaurant > img {
    height: 175px;
    border-radius: 20px 20px 0 0; }
  .bloc-restaurant .new {
    background-color: #99E2D0;
    color: #1b6150;
    border-radius: 5px;
    padding: 7px;
    position: absolute;
    margin: 10px 0 0 255px;
    font-weight: 500; }
  .bloc-restaurant .sb-restaurant > figcaption {
    display: flex;
    justify-content: space-between;
    margin: 15px; }
    .bloc-restaurant .sb-restaurant > figcaption > div > h2 {
      margin-bottom: 5px; }
  @media (min-width: 768px) {
    .bloc-restaurant {
      margin: 15px; } }

/* ---------------------------------------- */
/* == PAGE RESTO */
/*---------------------------------------- */
.img-resto {
  height: 260px; }
  @media (min-width: 768px) {
    .img-resto {
      height: 450px; } }

.pageresto__bg {
  border-radius: 20px 20px 0 0;
  background-color: #F6F6F6;
  padding: 35px 15px 80px 15px;
  margin-top: -42px;
  position: relative; }
  .pageresto__bg .pageresto__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    align-items: center; }
    .pageresto__bg .pageresto__head i {
      padding-right: 25px; }
  .pageresto__bg .h2menu {
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    padding-bottom: 8px; }
    @media (min-width: 768px) {
      .pageresto__bg .h2menu {
        font-size: 14px; } }
    @media (min-width: 768px) and (max-width: 1025px) {
      .pageresto__bg .h2menu {
        margin-left: 20%; } }
  .pageresto__bg .menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 235px;
    margin: 15px 0 35px 0; }
    @media (min-width: 1025px) {
      .pageresto__bg .menu {
        flex-direction: row;
        justify-content: center;
        height: auto; } }
    .pageresto__bg .menu__blocplat {
      width: 350px;
      height: 68px;
      border-radius: 15px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      cursor: pointer; }
      @media (min-width: 1025px) {
        .pageresto__bg .menu__blocplat {
          margin: 15px; } }
    .pageresto__bg .menu__intitule {
      padding: 15px; }
    .pageresto__bg .menu__prix {
      padding: 0 20px 15px 0; }

.btn {
  height: 50px;
  border-radius: 80px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 1px 3px 10px grey; }
  .btn:hover {
    box-shadow: 1px 3px 14px grey;
    background: linear-gradient(#ff93e1, #a16be0); }
  .btn.bnt--w220 {
    width: 220px; }
  .btn.btn--w185 {
    width: 185px; }

.section-presentation > .btn {
  margin: 15px 0 10px 0; }

.div-btn-menu {
  text-align: center; }

.btn-confirmation {
  display: none;
  height: 100%;
  width: 60px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0; }
  .btn-confirmation__check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    color: white; }

.menu__blocplat:hover .btn-confirmation {
  display: block;
  transform: translateX(-100px, 0);
  animation-name: validation-commande;
  animation-duration: 3000ms; }

@keyframes validation-commande {
  0% {
    transform: translateX(100); }
  100% {
    transform: translateX(0); } }

/*# sourceMappingURL=style.css.map */
