@charset "UTF-8";
/*GESTION-Dégradé couleur*/
.header-main {
  box-shadow: 0 0 5px grey;
  position: relative;
  padding: 1rem; }

.logoheader {
  display: block;
  margin: auto;
  width: 170px; }

.header-pageresto {
  height: 60px; }
  .header-pageresto div {
    padding: 1rem; }
  .header-pageresto .header-pageresto__fleche {
    position: absolute;
    top: 20px; }

footer > div {
  padding: 25px; }
  footer > div .logofooter {
    width: 100px;
    filter: invert(100%); }
  footer > div > ul {
    color: white;
    line-height: 22px; }
    footer > div > ul li > a > i {
      width: 17px; }

h1, h2, p, li, span, button {
  font-family: 'Roboto', sans-serif; }

.h1resto {
  font-family: 'Shrikhand', cursive;
  font-size: 25px; }

h1 {
  font-size: 18px; }

h2, p, li, span, .t12, button {
  font-size: 12px; }

.t15 {
  font-size: 15px; }

.t20 {
  font-size: 20px; }

.typo-light {
  font-weight: 200; }

.typo-bold5 {
  font-weight: 500; }

.typo-bold7 {
  font-weight: 700; }

.majuscule {
  text-transform: uppercase; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

.bloc-centre {
  text-align: center; }

body, section, h1, h2, p, li, span {
  margin: 0; }

.container {
  padding: 50px 20px 60px 20px; }

img {
  width: 100%;
  height: auto;
  object-fit: cover; }

ul {
  padding: 0; }

.c-middlegrey {
  color: #7E7E7E; }

.c-primarycolor {
  color: #9356DC; }

/* ---------------------------------------- */
/* == BACKGROUND_COLOR */
/*---------------------------------------- */
.bg-warmgrey {
  background-color: #EAEAEA; }

.bg-extrawarmgrey {
  background-color: #353535; }

.bg-lightgrey {
  background-color: #F6F6F6; }

/* ---------------------------------------- */
/* == SECTION 1 */
/*---------------------------------------- */
.bloc-ville {
  padding: 15px;
  color: #353535; }

/* ---------------------------------------- */
/* == SECTION 2 */
/*---------------------------------------- */
.section2 {
  padding: 35px; }
  .section2 .sbs2 {
    padding-top: 10px;
    padding-bottom: 10px; }

/* ---------------------------------------- */
/* == SECTION 3*/
/*---------------------------------------- */
.container-fonctionnement {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 270px;
  margin-top: 30px; }
  .container-fonctionnement .bloc-fonctionnement {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .container-fonctionnement .bloc-fonctionnement .rond-violet {
      z-index: 1;
      background-color: #9356DC;
      color: white;
      text-align: center;
      border-radius: 100%;
      width: 25px;
      height: 25px; }
      .container-fonctionnement .bloc-fonctionnement .rond-violet > p {
        padding: 5px; }
    .container-fonctionnement .bloc-fonctionnement .sb-fonctionnement {
      display: flex;
      align-items: center;
      width: 320px;
      height: 70px;
      background-color: #F6F6F6;
      margin-left: -10px;
      padding-left: 35px;
      border-radius: 20px;
      box-shadow: 1px 3px 10px grey; }
      .container-fonctionnement .bloc-fonctionnement .sb-fonctionnement > p {
        padding-left: 25px; }
    .container-fonctionnement .bloc-fonctionnement .sb-fond-violet {
      background-color: #ece1f9; }

/* ---------------------------------------- */
/* == SECTION 4 */
/*---------------------------------------- */
.bloc-restaurant {
  width: 330px;
  height: 250px;
  margin: 15px 0 15px 0;
  border-radius: 20px;
  box-shadow: 1px 3px 10px grey; }
  .bloc-restaurant .sb-restaurant > img {
    height: 175px;
    border-radius: 20px 20px 0 0; }
  .bloc-restaurant .sb-restaurant > figcaption {
    display: flex;
    justify-content: space-between;
    margin: 15px; }
    .bloc-restaurant .sb-restaurant > figcaption > div > h2 {
      margin-bottom: 5px; }

/* ---------------------------------------- */
/* == PAGE RESTO */
/*---------------------------------------- */
.img-resto {
  height: 260px; }

.bg-pageresto {
  border-radius: 20px 20px 0 0;
  background-color: #F6F6F6;
  padding: 35px 15px 80px 15px;
  margin-top: -42px;
  position: relative; }
  .bg-pageresto .head-pageresto {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px; }
    .bg-pageresto .head-pageresto i {
      padding-right: 25px; }
  .bg-pageresto .h2menu {
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    padding-bottom: 8px; }
  .bg-pageresto .menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 235px;
    margin: 15px 0 35px 0; }
    .bg-pageresto .menu .bloc-plat {
      width: 350px;
      height: 68px;
      border-radius: 15px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      .bg-pageresto .menu .bloc-plat .intitule {
        padding: 15px; }
      .bg-pageresto .menu .bloc-plat .prix {
        padding: 0 20px 15px 0; }
  .bg-pageresto .div-btn-menu {
    text-align: center; }

.btn {
  height: 50px;
  border-radius: 80px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 1px 3px 10px grey; }
  .btn:hover {
    box-shadow: 1px 3px 14px grey;
    background: linear-gradient(#ff93e1, #a16be0); }
  .btn.bnt--w220 {
    width: 220px; }
  .btn.btn--w185 {
    width: 185px; }

.section2 .btn {
  margin: 15px 0 10px 0; }

/*# sourceMappingURL=style.css.map */
