

.img-resto--alafrancaise{
    background-image: url("file:///Users/archimede/Documents/OPENCLASSROOMS/LIVRABLES/P3/AstridPledranCousnie_3_19012021/images/restaurants/smalltoa-heftiba-DQKerTsQwi0-unsplash.jpg");
    @media (min-width:map-get($map: $breakpoints, $key: tablette)) {
        background-image: url("file:///Users/archimede/Documents/OPENCLASSROOMS/LIVRABLES/P3/AstridPledranCousnie_3_19012021/images/restaurants/medium/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    }
}

.img-resto--lapalettedugout{
    background-image: url("file:///Users/archimede/Documents/OPENCLASSROOMS/LIVRABLES/P3/AstridPledranCousnie_3_19012021/images/restaurants/small/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    @media (min-width:map-get($map: $breakpoints, $key: tablette)) {
    background-image: url("file:///Users/archimede/Documents/OPENCLASSROOMS/LIVRABLES/P3/AstridPledranCousnie_3_19012021/images/restaurants/medium/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }
}

.img-resto--ledelicedessens{
    background-image: url("file:///Users/archimede/Documents/OPENCLASSROOMS/LIVRABLES/P3/AstridPledranCousnie_3_19012021/images/restaurants/small/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    @media (min-width:map-get($map: $breakpoints, $key: tablette)) {
    background-image: url("file:///Users/archimede/Documents/OPENCLASSROOMS/LIVRABLES/P3/AstridPledranCousnie_3_19012021/images/restaurants/medium/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    }
}

.img-resto--lanoteenchantee{
    background-image: url("file:///Users/archimede/Documents/OPENCLASSROOMS/LIVRABLES/P3/AstridPledranCousnie_3_19012021/images/restaurants/small/stil-u2Lp8tXIcjw-unsplash.jpg");
    @media (min-width:map-get($map: $breakpoints, $key: tablette)) {
    background-image: url("file:///Users/archimede/Documents/OPENCLASSROOMS/LIVRABLES/P3/AstridPledranCousnie_3_19012021/images/restaurants/medium/stil-u2Lp8tXIcjw-unsplash.jpg");
    }
}

.img-resto
{
    background-position: center;
    height: 260px;
    @media (min-width:map-get($map: $breakpoints, $key: tablette)) {
        height: 450px;
    }
}

.container--maxwidth{
    max-width: $container-maxwidth;
    margin: auto;
}

.pageresto__bg
{
    @include bg-pageresto;
    .pageresto__head{
        @include flex-sbw;
        padding-bottom: 35px;
        i{
            padding-right: 25px;
        }
    }
    .h2menu{
        border-bottom: 3px solid $color-tertiary;
        width: 40px;
        padding-bottom: 8px;
        @media (min-width:map-get($map: $breakpoints, $key: tablette)) {
            font-size: 14px;
        }
        @media (min-width:map-get($map: $breakpoints, $key: tablette))and (max-width:map-get($map: $breakpoints, $key: desktop)) {
            margin-left: 20%; 
        }
    }
    .menu{
        @include menu-type;
        @media (min-width:map-get($map: $breakpoints, $key: desktop)) {
            flex-flow: row wrap;
            justify-content: flex-start;
        }
        &__blocplat{
        @include bloc-plat;
        @media (min-width:map-get($map: $breakpoints, $key: desktop)) {
            margin: 5px;
        }
        }
        &__intitule{
            flex:1;
            padding: 15px 0 15px 15px;
            width: auto;
            @include hiddentext;
            &__text{
                width: auto;
                @include hiddentext;
            }
        }
        &__prix{
            position: relative;
            right: -35px;
            top: 8px;
        }
    }
}

.like__pageresto{
    background: none;
    border: none;
}