.like
{
    position: relative;
    right: 20px;
    top: 7px;
    .coeur-bg{
        opacity: 0;
        color: $color-secondary;
        position: absolute;
    }
    .coeur-nobg{
        position: absolute;
    }
    &:hover{
        .coeur-bg{
            opacity: 1;
            transition: 1s;
        }
        .coeur-nobg{
            opacity: 0;
            transition: 1s;
        }
    }
}

.menu__blocplat:hover{
    .btn-confirmation {
        transform: translateX(-67px);
        opacity: 1;
        transition: 1s ease-in-out;   
        position: relative;
        animation-name: btn-conf;
        &__check{
            transform: rotate(360deg);
            transition: 0.25s;
            transition-delay: .5s;
        }
    }
}

@keyframes btn-conf{
    0%{
        transform:translateX(0px);
    }
    100%{
        transform:translateX(-67px);        
    }
}